<header class="container">
  <div class="header">
    <div class="header-logo">
      <p class="header-logo-text">
        <span class="header-logo-simply">SIMPLY</span> CHOCOLATE
      </p>
    </div>
    <div class="header-sections">
      <ul class="header-sections-list list">
        <li class="header-sections-item">
          <a href="" class="header-sections-link link">Home</a>
        </li>
        <li class="header-sections-item">
          <a href="" class="header-sections-link link">How it's made?</a>
        </li>
        <li class="header-sections-item">
          <a href="" class="header-sections-link link">Our products</a>
        </li>
        <li class="header-sections-item">
          <a href="" class="header-sections-link link">Top sellers</a>
        </li>
        <li class="header-sections-item">
          <a href="" class="header-sections-link link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
    <div class="header-social">
      <ul class="header-social-list list">
        <li class="header-social-item">
          <a href="" class="header-social-link link">
            <svg class="header-social-icon" width="24px" height="24px">
              <use
                href="../images/sprite.svg#icon-instagram-desktop-tablet"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-social-item">
          <a href="" class="header-social-link link">
            <svg class="header-social-icon" width="24px" height="24px">
              <use
                href="../images/sprite.svg#icon-twitter-desktop-tablet"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
