<header class="header container">
  <div class="header-logo">
    <span class="header-logo-simply">SIMPLY</span> CHOCOLATE
    <svg class="header-social-icon" width="24px" height="24px">
      <use href="../images/sprite.svg#"></use>
    </svg>
  </div>
  <div class="header-sections">
    <ul class="header-sections-list list">
      <li class="header-sections-item">Home</li>
      <li class="header-sections-item">How it's made?</li>
      <li class="header-sections-item">Our products</li>
      <li class="header-sections-item">Top sellers</li>
      <li class="header-sections-item">Chocolate is loved</li>
    </ul>
  </div>
  <div class="header-social">
    <svg class="header-social-icon" width="24px" height="24px">
      <use href="../images/sprite.svg#icon-instagram-desktop-tablet"></use>
    </svg>
    <svg class="header-social-icon" width="24px" height="24px">
      <use href="../images/sprite.svg#icon-twitter-desktop-tablet"></use>
    </svg>
  </div>
</header>
