<section class="hero-section section">
    <div class="hero-container container">
        <h1 class="visually-hidden">hero</h1>
        <h2 class="hero-subtitle">Treat yourself or a loved one to 
            our finest ingredients for a moment 
            of pure delight!</h2>
        <div class="hero-btn-container">
            <button type="button" class="hero-btn-modal">Buy now</button>
            <button type="button" class="hero-btn">How it&#039;s made</button>
            <button type="button" class="hero-btn-scroll">scroll down</button>
        </div>
    </div>
</section>