        <section class="hero-section section">
            <div class="hero-container container">
                <h1 class="visually-hidden">hero</h1>
                <h2 class="hero-subtitle">Treat yourself or a loved one to <br>our finest ingredients for a moment of pure delight!</h2>
                <div class="hero-btn-container">
                    <button type="button" class="hero-btn-modal">Buy now</button>
                    <button type="button" class="hero-btn">How it&#039;s made</button>
                
                    <button type="button" class="hero-btn-scroll">scroll down
                        <div class="hero-btn-scroll-container">
                            <svg class="hero-icon" width="7" height="13">
                                <use href="./sprite.svg#icon-hero-scroll"></use>
                            </svg>
                        </div>
                    </button>
                </div>
            </div>
        </section>