<section class="hero-section section">
    <div class="hero-container">
        <h1 class="visually-hidden">hero</h1>
        <h2 class="hero-subtitle">Treat yourself or a loved one to <br>our finest ingredients for a moment of pure delight!</h2>
        <div class="hero-btn-container">
            <div class="hero-mob-btn-container">
                <!-- !!! ===Add JS for modal "Buy now"=== !!! -->
                <button type="button" class="hero-btn-modal">Buy now</button>
                <!-- !!! ===Add ID - section "How it's made"=== !!! -->
                <button type="button" class="hero-btn">How it&#039;s made</button>
            </div>
            <!-- !!! ===Add ID for scroll to Footery=== !!! -->
            <button type="button" class="hero-btn-scroll">scroll down
                <span class="hero-btn-scroll-container">
                    <svg class="hero-icon" width="22" height="22">
                        <use href="./images/icons.svg#icon-scroll-down"></use>
                    </svg>
                </span>
            </button>
        </div>
    </div>
</section>