<section class="made">
    <h2 class="made-text__black-part">HOW IT'S<span class="made-text__orange-part"> MADE?</span></h2>
    <div>
        <iframe class="video-chocolate" src="" frameborder="0"></iframe>
    </div>
    <div class="made-text">
        <h3 class="made-text_made">Try  our chocolates today and discover the perfect balance of flavor</h3>
        <ul>
            <li>Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.</li>
            <li>At the same time, prepare a water bath. Melt the butter on it.</li>
            <li>"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.</li>
            <li>Heat the mixture over low heat, letting it barely boil.</li>
            <li>Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.</li>
        </ul>
    </div>
</section>