<div class="subscribe-backdrop is-hidden">
    <div class="subscribe-modal">
        <img src="../images/Pop Up/popup-desk-tab.webp" alt="">
        <button type="button" class="subscribe-btn-close-modal">
            <svg class="subscribe-btn-icon">
                <use href="../images/sprite.svg#icon-close-button"></use>
            </svg>
        </button>

        <h3 class="subscribe-form-title">Explore our <span class="subscribe-accent-text">new chocolate </span>
            first!</h3>
        <form action="" class="subscribe-form">
            <label for="">
                <input class="subscribe-input" type="text" name="your-email" placeholder="Enter your email">
            </label>
            <button type="Submit" class="subscribe-btn-submit">Submit</button>
        </form>
    </div>
</div>