<div class="container">
    <div  class="backdrop-review " data-modal >
      <div class="review-modal">
        <button class="btn-close" data-modal-close >
          <svg class="btn-clo">
            <use href="../images/sprite.svg#icon-close-button"></use>
          </svg>
        </button>
        <div class="modal-form">
          <p class="text-modal">LEAVE A REVIEW ABOUT <span class="modal-review-h">OUR CHOCOLATE</span></p>
          <form>
            <div class="form-field">
              <label for="name"></label>
              <input
                class="input-form"
                type="name"
                id="name"
                placeholder="Name"
              />
            </div>
            <div class="form-field">
              <label for="email"></label>
              <input
                class="input-form"
                type="email"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-field">
              <label for="tel"></label>
              <input
                class="input-form"
                type="tel"
                id="tel"
                placeholder="Phone number"
              />
              <span>
                <svg width="32" height="24">
                  <use href="./images/sprite.svg#icon-IconUA"></use>
                  <span>+380</span>
              </svg>
              </span>
              
            </div>
  
            <div class="form-comment">
              <label for="Comment"></label>
              <textarea
                class="textarea-form"
                name=""
                id="Comment"
                cols="30"
                rows="10"
                placeholder="Enter text"
              ></textarea>
            </div>
            <button class="button-send" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  