<section class="our-products">
  <div class="container products-container">
    <h2 class="products-title">OUR <span>PRODUCTS</span></h2>
    <div class="products-thumd">
      <ul class="products-one-list list">
        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/orange-min.jpg 1x, ../images/Our Products/orange@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/orange.webp 1x, ../images/Our Products/orange@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/orange-min.jpg"
              alt="ORANGE"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">ORANGE</h3>
            <p class="products-text">Dark2 chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            45 UAH
          </button>
        </li>

        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/apple-cranberry-min.jpg 1x, ../images/Our Products/apple-cranberry@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/apple-cranberry.webp 1x, ../images/Our Products/apple-cranberry@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/apple-cranberry-min.jpg"
              alt="APPLE&CRANBERRY"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">APPLE&CRANBERRY</h3>
            <p class="products-text">Milk chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            50 UAH
          </button>
        </li>

        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/lime-salt-min.jpg 1x, ../images/Our Products/lime-salt@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/lime-salt.webp 1x, ../images/Our Products/lime-salt@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/lime-salt-min.jpg"
              alt="LIME&SEA SALT"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">LIME&SEA SALT</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            66 UAH
          </button>
        </li>

        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/pineapple-min.jpg 1x, ../images/Our Products/pineapple@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/pineapple.webp 1x, ../images/Our Products/pineapple@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/pineapple-min.jpg"
              alt="PINEAPPLE"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">PINEAPPLE</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            54 UAH
          </button>
        </li>
      </ul>
      <ul class="products-two-list list">
        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/classic-min.jpg 1x, ../images/Our Products/classice@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/classic.webp 1x, ../images/Our Products/classic@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/classic-min.jpg"
              alt="CLASSIC"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">CLASSIC</h3>
            <p class="products-text">Milk chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            45 UAH
          </button>
        </li>

        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/honey-min.jpg 1x, ../images/Our Products/honey@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/honey.webp 1x, ../images/Our Products/honey@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/honey-min.jpg"
              alt="HONEY"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">HONEY</h3>
            <p class="products-text">Milk chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            50 UAH
          </button>
        </li>

        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/roasted-fruits-min.jpg 1x, ../images/Our Products/roasted-fruits@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/roasted-fruits.webp 1x, ../images/Our Products/roasted-fruits@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/roasted-fruits-min.jpg"
              alt="ROASTED FRUITS"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">ROASTED FRUITS</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            66 UAH
          </button>
        </li>

        <li class="products-item">
          <picture>
            <source
              srcset="../images/Our Products/classic-white-min.jpg 1x, ../images/Our Products/classic-white@2x-min.jpg 2x"
              type="image/jpeg"
            />
            <source
              srcset="../images/Our Products/classic-white.webp 1x, ../images/Our Products/classic-white@2x.webp 2x"
              type="image/webp"
            />
            <img
              src="../images/Our Products/classic-white-min.jpg"
              alt="CLASSIC WHITE"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">CLASSIC</h3>
            <p class="products-text">White chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            54 UAH
          </button>
        </li>
      </ul>
    </div>
    <ul class="products-slider-list list">
      <li class="products-slider-item">
        <svg class="products-icon" width="23px" height="13px">
          <use href="../images/sprite.svg#icon-rectangle"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
      <li>
        <svg class="products-icon-ellipse" width="13px" height="13px">
          <use href="../images/sprite.svg#icon-ellipse"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
