<section class="our-products">
  <div class="container products-container">
    <h2>OUR PRODUCTS</h2>
    <ul class="chocolates-products">
      <li>
        <img src="./images/dark-chocolate.jpg" alt="dark-chocolate" />
        <h3>ORANGE</h3>
        <p>Dark chocolate</p>
        <button class="-chocolate-price">45 UAH</button>
      </li>
      <li>
        <img src="./images/apple-chocolate.jpg" alt="apple-chocolate" />
        <h3>APPLE&CRANBERRY</h3>
        <p>Milk chocolate</p>
        <button class="-chocolate-price">50 UAH</button>
      </li>
      <li>
        <img src="./images/lime-chocolate.jpg" alt="lime-chocolate" />
        <h3>LIME&SEA SALT</h3>
        <p>Dark chocolate</p>
        <button class="-chocolate-price">66 UAH</button>
      </li>
      <li>
        <img src="./images/pineapple-chocolate.jpg" alt="pineapple-chocolate" />
        <h3>PINEAPPLE</h3>
        <p>Dark chocolate</p>
        <button class="-chocolate-price">54 UAH</button>
      </li>
      <li>
        <img src="./images/classic-chocolate.jpg" alt="classic-chocolate" />
        <h3>CLASSIC</h3>
        <p>Milk chocolate</p>
        <button class="-chocolate-price">45 UAH</button>
      </li>
      <li>
        <img src="./images/honey-chocolate.jpg" alt="honey-chocolate" />
        <h3>HONEY</h3>
        <p>Milk chocolate</p>
        <button class="-chocolate-price">50 UAH</button>
      </li>
      <li>
        <img src="./images/roasted-chocolate.jpg" alt="roasted-chocolate" />
        <h3>ROASTED FRUITS</h3>
        <p>Dark chocolate</p>
        <button class="-chocolate-price">66 UAH</button>
      </li>
      <li>
        <img src="./images/white-chocolate.jpg" alt="white-chocolate" />
        <h3>CLASSIC</h3>
        <p>Milk chocolate</p>
        <button class="-chocolate-price">54 UAH</button>
      </li>
    </ul>
    <button>
      <svg><use href="./images/icons.svg#icon-ellipse-5"></use></svg>
    </button>
    <button>
      <svg><use href="./images/icons.svg#icon-ellipse-3"></use></svg>
    </button>
  </div>
</section>
