<section class="our-products">
  <div class="container products-container">
    <h2 class="products-title">OUR PRODUCTS</h2>
    <ul class="products-list list">
      <li class="products-item">
        <img
          src="./images/dark-chocolate.jpg"
          alt="dark-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">ORANGE</h3>
          <p>Dark chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">45 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/apple-chocolate.jpg"
          alt="apple-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">APPLE&CRANBERRY</h3>
          <p>Milk chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">50 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/lime-chocolate.jpg"
          alt="lime-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">LIME&SEA SALT</h3>
          <p>Dark chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">66 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/pineapple-chocolate.jpg"
          alt="pineapple-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">PINEAPPLE</h3>
          <p>Dark chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">54 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/classic-chocolate.jpg"
          alt="classic-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">CLASSIC</h3>
          <p>Milk chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">45 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/honey-chocolate.jpg"
          alt="honey-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">HONEY</h3>
          <p>Milk chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">50 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/roasted-chocolate.jpg"
          alt="roasted-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">ROASTED FRUITS</h3>
          <p>Dark chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">66 UAH</button>
      </li>
      <li class="products-item">
        <img
          src="./images/white-chocolate.jpg"
          alt="white-chocolate"
          width="230"
          height="201"
        />
        <div class="products-content">
          <h3 class="products-subtitle">CLASSIC</h3>
          <p>Milk chocolate</p>
        </div>
        <button type="button" class="products-price-btn button">54 UAH</button>
      </li>
    </ul>
    <button>
      <svg><use href="./images/icons.svg#icon-ellipse-5"></use></svg>
    </button>
    <button>
      <svg><use href="./images/icons.svg#icon-ellipse-3"></use></svg>
    </button>
  </div>
</section>
