<div class="backdrop is-hidden">
  <div class="review-modal">
    <button class="btn-close">
      <svg class="btn-clo">
        <use href=""></use>
      </svg>
    </button>
    <div class="modal-form">
      <p class="text-modal">LEAVE A REVIEW ABOUT OUR CHOCOLATE</p>
      <form>
        <div class="form-field">
          <label for="name"></label>
          <input class="input-form" type="name" id="name" />
        </div>
        <div class="form-field">
          <label for="tel">Phone </label>
          <input class="input-form" type="tel" id="tel" />
        </div>
        <div class="form-field">
          <label for="email">Email </label>
          <input class="input-form" type="email" id="email" />
        </div>
        <div class="form-field">
          <label for="Comment">Comment</label>
          <textarea
            class="textarea-form"
            name=""
            id="Comment"
            cols="30"
            rows="10"
            placeholder="Enter text"
          ></textarea>
        </div>
        <button class="button-send" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
