<!DOCTYPE html>
<html lang="en" class="page">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/styles.css">

</head>
<body>
    <section class="topsellers">

        <div class="container">

            <h1 class="top-sellers"><span class="top">Top</span> Sellers</h1>
        
            <ul class="top-image list">
                <li class="top-img">
                    <img src="./images/Top Sellers/topsellers-one-desktop.webp" alt="First Top Sellers">
                </li>
                <li>
                    <img src="./images/Top Sellers/topsellers-two-desktop.webp" alt="Second Top Sellers">
                </li>
                <li>
                    <img src="./images/Top Sellers/topsellers-three-desktop.webp" alt="Third Top Sellers">
                </li>
            </ul>

            <ul class="order">
                
                <p class="top-sellers-content">
                    Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
                </p>
    
                <button class="btn-buy-now" type="button">Buy now</button>   
            </ul>
    

        </div>

    </section>
</body>
</html>