/* Стилі ддя моб */
@media screen and (min-width: 375px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
}

/* Стилі для десктопа */
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 32px;
    margin: 0 auto;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
  }
  .header-logo {
    display: flex;
    align-items: center;
    margin-right: 188px;
  }

  .header-logo-link {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
  }

  .header-logo-simply {
    font-style: italic;
  }

  .header-logo-icon {
    fill: #fd9222;
    margin-left: 4px;
  }

  .header-btn-mobile {
    display: none;
  }

  .header-navigation {
    display: flex;
    flex-direction: row;
  }

  .header-sections {
    display: flex;
    align-items: center;
    margin-right: 137px;
  }
  .header-sections-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .header-sections-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .header-sections-link {
    color: #111111;
  }

  .header-social-list {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .header-social-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-icon:hover {
    fill: #fd9222;
  }
}
