/* Загальні стилі, що застосовуються на всіх розмірах екрану */
.hero-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-bottom: 32px;
}

/* Стилі для екранів з шириною не більше 375px */
@media screen and (max-width: 374px) {
}

/* Стилі для екранів з шириною не менше 375px і не більше 767px */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .container {
        padding: 0px 20px;
        margin: 0 auto;
        min-width: 375px;
        
        max-width: 767px;
    }
    .hero-section {
        min-width: 375px;
        max-width: 767px;
        min-height: 621px;
        padding: 0 20px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .hero-container {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-img/hero-mob-1x.jpg);
        background-color: #FCF1E0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        min-width: 335px;
        min-height: 621px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 375px) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 375px) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 375px) and (max-width: 767px) {
    .hero-container {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-img/hero-mob-2x.jpg);
        background-color: #FCF1E0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        min-width: 335px;
        min-height: 621px;
    }
}

/* Стилі для екранів з шириною не менше 768px і не більше 1199px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
}




/* Стилі для екранів з шириною 1200px і більше */
/* ======DESKTOP STYLE HERO MIN 1200PX====== */
@media screen and (min-width: 1200px) {
    .hero-section {
        min-height: 600px;
        padding-bottom: 72px;
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-height: 600px;
        height: 100%;
        padding: 0 40px 40px;
    }
    .hero-subtitle {
        width: 484px;
        min-height: 102px;
        font-size: 28px;
        line-height: 1.21;
    }
    .hero-btn-container {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
    }
    .hero-btn-modal {
        font-family: 'Montserrat' sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        min-width: 144px;
        max-height: 45px;
        padding: 14px 40px;
        margin-right: 14px;
        align-items: center;
        color: #FFFFFF;
        border: none;
        border-radius: 100px;
        background-color: var(--main-site-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-btn-modal:is(:hover, :focus) {
        background-color: #FCF1E0;
        color: var(--main-site-color);
        cursor: pointer;
    }
    .hero-btn {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        min-width: 183px;
        max-height: 45px;
        height: 100%;
        padding: 14px 40px;
        align-items: center;
        background-color: transparent;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-btn:is(:hover, :focus) {
        background-color: #FFFFFF;
        color: var(--main-site-color);
        border: 1px solid var(--main-site-color);
        cursor: pointer;
    }
    .hero-btn-scroll {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
        margin-left: auto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        width: 163px;
        height: 53px;
        color: #FFFFFF;
        background-color: transparent;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-btn-scroll-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        margin-left: 14px;
        border-radius: 50%;
        background: #FFFFFF;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .hero-icon {
        width: 22px;
        height: 22px;
        fill: var(--main-site-color);
    }
    .hero-btn-scroll:is(:hover, :focus) {
        background-color: #FFFFFF;
        color: var(--main-site-color);
        cursor: pointer;
    }
    .hero-btn-scroll:is(:hover, :focus) .hero-btn-scroll-container {
        background-color: var(--main-site-color);
    }
    .hero-btn-scroll:is(:hover, :focus) .hero-icon {
        fill: #FFFFFF;
    }
}

/* ======DESKTOP STYLE HERO B-G MIN 1200PX====== */
@media screen and (min-width: 1200px) {
    .hero-container {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-img/hero-1x.jpg);
        background-color: #FCF1E0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        max-width: 1136px;
    }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-container {
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero-img/hero-2x.jpg);
        background-color: #FCF1E0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 30px;
        max-width: 1136px;
    }
}
