.made-section {
    background-color: #fafafa;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1136px;
}

.made {
    display: flex;
    margin-top: 50px;
    margin-bottom: 128px;
}

.made-foto {
    color: #ffff;
    position: relative;
    
}

.made-video {
    border-radius: 5%;
    margin-right: 20px;
    max-width: 600px;
    max-height: 400px;
}

.made-text__black-part {
    color: #111;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.made-text__orange-part {
    color: #FD9222;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.made-content{
    background-color: #ffff;
    border-radius: 5%;
    padding: 32px;
}

.made-text_made {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #111;

    margin-bottom: 28px;

}

.made-list {
    padding-left: 16px;
}

.made-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;

    color: #111111;

    list-style: initial;
    
}

.made-item:not(:last-child) {
    padding-bottom: 24px;
}

.icon-play {
    position: absolute;
    fill: #c0c0c0;
    top: 46%;
    left: 44%;
}

.icon-play:hover,
.icon-play:focus {
    fill: #ffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


