body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;      
}
.list {
    /*margin: 0;
    padding: 0;*/
    list-style: none;
    text-decoration: none;
}
.link {
    text-decoration: none;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity var(--transition);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    }
.backdrop.is-hidden .modal-buy-now {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal-buy-now {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 48px  48px 48px 48px;   
    background: #FAFAFA;
    border-radius: 15px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition);
}
.modal-buy-now-close-button {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
    padding: 6px;
    border-radius: none;
    border: transparent;
    background-color: #FAFAFA;
    color: #111111;
    transition: color var(--transition), background-color var(--transition);
}
.modal-buy-now-title {
    color: #111111;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;    
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}
.top {
    color: #FD9222;
}
.modal-buy-choice {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}
.modal-buy-choice-item {
    width: 160px;
    height: 196px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    align-items: center;
    padding: 24px 20px 18px;
}
.modal-buy-choice-img {
    width: 120px;
    height: 107px;
    margin-bottom: 14px;
    vertical-align: middle;
}
.modal-buy-now-choice-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.22;
    color: #111111;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 26px;
    gap: 14px;
    margin: 0 12px;   
    width: 96px;
    height: 33px;
}
/*-------------------------FORM----------------------------------------*/
/*-------------------------FORM----------------------------------------*/
/*-------------------------FORM----------------------------------------*/
.modal-buy-now-form {
    display: flex;
    flex-direction: column;    
}
.modal-buy-now-form-field {
    margin-bottom: 18px;
}
.modal-buy-now-form-input-desc {
    display: block;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: left;
    color: #000000;
    margin-bottom: 8px;  
}
.modal-buy-now-form-input-wrapper {
    position: relative;
}
.modal-buy-now-form-input {
    width: 100%;
    height: 66px;
    align-items: flex-start;
    padding: 22px 24px;
    gap: 22px;
    background-color: #FAFAFA;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    font-size: 18px;
    transition: border-color var(--transition);
}

.modal-buy-now-form-input-surname {
    width: 100%;
    height: 66px;   
    padding: 22px 24px;
    margin-top: 26px;    
    background-color: #FAFAFA;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    font-size: 18px;
    transition: border-color var(--transition);
}
.modal-buy-now-form-input-surname::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}
.modal-buy-now-form-input-surname:focus {
    outline: 1px solid #FD9222;
}
.modal-buy-now-form-input::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}
.modal-buy-now-form-input-personalinfo {
    display: flex;
    width: 100%;  
    gap: 22px;
}
.modal-buy-now-form-input:focus {
    outline: 1px solid #FD9222;
}
.modal-buy-now-form-input-phone {
    width: 100%;
    height: 66px;
    align-items: flex-start;
    padding: 22px 24px 22px 168px;
    gap: 22px;
    background-color: #FAFAFA;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    font-size: 18px;
    transition: border-color var(--transition);
}
.modal-buy-now-form-input-phone::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}
.modal-buy-now-form-input-phone:focus {
    outline: 1px solid #FD9222;
}
.modal-buy-now-form-input-iconUA {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px; 
    position: absolute;
    top: 45%;
    left: 24px;
    transform: translate(0,-50%);
    display: block;
    transition: fill var(--transition);
}

.code {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    top: 45%;
    left: 74px;
    color: #000000;
    transform: translate(0, -50%);
    padding-right:  32px;
    border-right: 2px solid rgba(17, 17, 17, 0.15);
}
.modal-buy-now-form-input-iconMastercard {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(0,-50%);
    display: block;
    transition: fill var(--transition);
}
.modal-buy-now-form-message {
    resize: none;
    width: 100%;
    height: 136px;
    padding: 22px 24px;
    outline: none;
    background-color: #FAFAFA;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    transition: border-color var(--transition);
}
.modal-buy-now-form-message:focus {
    outline: 1px solid #FD9222;
}
.modal-buy-now-form-message::placeholder {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
}
.modal-buy-now-submit-button {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    color: #FFFFFF;
    background: #FD9222;
    border: transparent;
    border-radius: 100px;

    width: 133px;
    height: 45px;

    padding: 14px 40px;
    gap: 14px;   
}
.modal-buy-now-submit-button:hover,
.modal-buy-now-submit-button:focus {
    background: #FCF1E0;
    color: #FD9222;
}