.reviews-section {
 padding-bottom: 128px;
}


.review-list {
  display: flex;
  list-style: none;
 
}
.review-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #111111;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 56px;
}
.review-li {
  width: 360px;
height: 200px;
left: 0px;
top: 42px;
  position: relative;
  display: inline-block;
  margin-right: 28px;
  padding-left: 24px;
  padding-right: 24px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  
}
.review-li:last-child {
  margin-right: 0;
}
.button-review {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  text-align: center;
  background-color: #ffffff;
  
}
.review-p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  padding: 0;
}

.review-span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: rgba(253, 146, 34, 1);
}
.reviews-h {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(17, 17, 17, 1);
  text-align: center;
  margin-bottom: 49px;
}
.img-review {
  position: absolute;
transform: translate(+135%, -50%);
}
.review-banner {
  width: 106px;
  height: 13px;
text-align: center;
  display: inline-block;
  
}
.banner-review-button {
  color: transparent;
  display: flex;
  justify-content: center;
  border: transparent;
  margin-top: 31px;
  margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}