.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;      
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.link {
    text-decoration: none;
}
.topsellers-title {
    color: #111111;
    font-weight: 600;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 0;
}
.top {
    color: #FD9222;
}
.top-image {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    height: 100%;
} 
.top-img {
    border-radius: 15px;
}
.top-sellers-content {
    color: #111111;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: left;
}
.order {
    display: flex;
    justify-content: space-between;   
    margin: 0;
    padding: 0;
}
.btn-buy-now {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 1.22;
    color: #FFFFFF;
    background-color: #FD9222;
    border: transparent;
    border-radius: 100px;
    gap: 14px;
}
/*-----------------------------min-width: 320px----------------------------------*/
/*-----------------------------min-width: 320px----------------------------------*/
/*-----------------------------min-width: 320px----------------------------------*/
@media screen and (min-width: 320px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;           
    }
    .topsellers-title {
        font-size: 20px;
        line-height: 1.2;       
        margin-bottom: 32px;
    }
    .top-image {
        width: 335px;
        gap: 32px;
        margin-bottom: 20px;
    }
    .top-img {
        width: 100%;
    }
    .top-sellers-content {
        width: 306px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}
/*-----------------------------min-width: 375px----------------------------------*/
/*-----------------------------min-width: 375px----------------------------------*/
/*-----------------------------min-width: 375px----------------------------------*/        
@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}
/*-----------------------------min-width: 768px----------------------------------*/
/*-----------------------------min-width: 768px----------------------------------*/
/*-----------------------------min-width: 768px----------------------------------*/       
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;        
        padding-left: 32px;
        padding-right: 32px;
    }
    .topsellers-title {
        font-size: 24px;
        line-height: 1.17;       
        margin-bottom: 50px;
    }
    .top-image {
        flex-wrap: nowrap;
        width: 704px;
        height: 464px;
        gap: 16px;
        margin-bottom: 32px;
    }
    .top-img {
        width: 344px;
        height: 464px;
    }
    .top-sellers-content {
        display: none;
    }
    .topsellers-desc {
        display: flex;
        justify-content: space-between;
    }
    .top-sellers-content-desktop {
        color: #111111;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        width: 306px;
        margin: 0;
    }
    .btn-buy-now {
        font-size: 18px;   
        width: 162px;
        height: 50px;
        padding: 14px 40px;
        gap: 14px;
    }
}
/*-----------------------------min-width: 1200px----------------------------------*/
/*-----------------------------min-width: 1200px----------------------------------*/
/*-----------------------------min-width: 1200px----------------------------------*/
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .top-image {
        width: 1136px;
    }
    .top-img,
    .top-img-desktop {
        border-radius: 15px;
        width: 368px;
    }
    .top-sellers-content-desktop {
        width: 406px;
    }
    .btn-buy-now:hover,
    .btn-buy-now:focus {
        background-color: #FCF1E0;
        color: #FD9222;
    }
}
/*-----------------------------max-width: 767px----------------------------------*/
/*-----------------------------max-width: 767px----------------------------------*/
/*-----------------------------max-width: 767px----------------------------------*/
@media screen and (max-width: 767px) {

    .top-sellers-content-desktop {
         display: none;
    }
    .btn-buy-now {   
        font-size: 14px;    
        width: 120px;
        height: 40px;
        padding: 12px 28px;
        gap: 14px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*-----------------------------max-width: 1199px----------------------------------*/
/*-----------------------------max-width: 1199px----------------------------------*/
/*-----------------------------max-width: 1199px----------------------------------*/
@media screen and (max-width: 1199px) {
    .top-image-item-desktop,
    .top-img-desktop {
         display: none;
    }
}